/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: calc(90vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}


.wrapper-grey {
  height: 45vh;
  background-color: #f9f9f9;
  position: relative;
  margin-top: -235px;
  padding-top: 200px;
  z-index: -1;
}

video {
  margin-top: 55px;
  margin-right: 30px;
  box-shadow: 5px;
}

.first-instruction-card {
  margin-top: 50px;
  p {
    font-size: 15px;
    font-weight: lighter;
  }
}

.instruction-card{
  margin-left: 80px;
  h3 {
    font-size: 17px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    font-weight: lighter;
  }
}

.instruction-card2{
  margin-right: 80px;
  h3 {
    font-size: 17px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    font-weight: lighter;
  }
}

.calendar-text {
  margin-top: .3em;
  color: $frida-white;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.5em;
    vertical-align: middle;
    color: $frida-red;
}

.fa-3x {
    font-size: 1em;
}

.video-message {
  margin-top: 55px;
  margin-right: 80px;
  font-size: 15px;
}

.wrapper-white {
  h3 {
    text-align: center;
    margin-top: 50px;
  }
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#white-title {
  margin-top: 50px;
  text-align: center;
}

.white-paragraph {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 120px;
  margin-right: 120px;
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
    font-style: italic;
  }
  img {
    height: 30px;
    padding-bottom: 5px;
  }
}

.wrapper-grey2 {
  background-color: #f9f9f9;
  height: 95vh;
}

.paragraph {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-home {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center center;
  background-color: white;
  position: relative;
  margin-right: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  img {
    height: 200px;
    width: 200px;
  }
  i {
    position: absolute;
    font-size: 70px;
    left: 60px;
    top: 60px;
    color: $frida-red;
  }
}

.card-1 {
  position: absolute;
  font-size: 15px;
  left: 30px;
  right: 20px;
  top: 50px;
  color: black;
  font-style: italic;
  font-weight: lighter;
}

.card-3 {
  position: absolute;
  font-size: 15px;
  left: 30px;
  right: 20px;
  top: 70px;
  color: black;
  font-style: italic;
  font-weight: lighter;
}

.card-home2 {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
  margin-right: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
}

.card-home2:hover {
  img {
    transition: 0.8s;
    opacity:0.15;
    background-color: white;
  }
  .card-9:after {
    position: absolute;
    left: 6px;
    top: 72px;
    color: #568EA3;
    font-size: 35px;
    content: "YOURSELF";
  }
}
.card-9 img {
  position: absolute;
  left: 20px;
  top: 65px;
}


.card-home:hover {
  img, i {
    transition: 0.8s;
    opacity:0.2;
    background-color: white;
  }
  .frida-selfie:after {
    transition: 0.8s;
    position: absolute;
    left: 30px;
    right: 20px;
    top: 30px;
    content: 'Frida Kahlo was een Mexicaanse surrealistische kunstschilderes. Ze was zelfbewust, radicaal en eigenzinnig.';
    color: black;
    font-size: 15px;
  }
  .card-2:after {
    position: absolute;
    left: 30px;
    right: 20px;
    top: 50px;
    color: black;
    font-size: 15px;
    content: "In onze studio kun je leren schilderen in je eigen tijd en op je eigen tempo!"
  }
  .card-4:after {
    position: absolute;
    left: 30px;
    right: 20px;
    top: 50px;
    color: black;
    font-size: 15px;
    content: "Elk goed schilderij begint met een goede schets. Deze lessen hebben wij ook!"
  }
  .card-7:after {
    position: absolute;
    left: 30px;
    right: 20px;
    top: 40px;
    color: black;
    font-size: 15px;
    content: "Je schetst of schildert tijdens de video les van de artiest. Terug spoelen, nog een keer kijken, het kan allemaal!"
  }
  .card-8:after {
    position: absolute;
    left: 30px;
    right: 20px;
    top: 50px;
    color: black;
    font-size: 15px;
    content: "Neem foto's van jouw kunstwerken zodat je artiest je verder kan helpen!"
  }
}

.card-6 {
    font-size: 35px;
    position: absolute;
    top: 72px;
    left: 35px;
}

.link-vice {
  text-decoration: underline;
  color: black;
  font-size: 10px;
}

.flexbox-cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.flexbox-row-2 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.flexbox-row-3 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.courses_link {
  text-decoration: none;
  color: $frida-red;
}

.screenshot-mac img {
  height: 80vh;
  margin-left: 20px;
}

.video-instruction {
  font-weight: lighter;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 15px;
}

.downArrow{
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: $frida-red;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

