/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: calc(90vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.wrapper-grey {
  height: 150vh;
  background-color: #f9f9f9;
  position: relative;
  margin-top: -230px;
  padding-top: 200px;
  z-index: -1;
}

.wrapper-grey-cards {
  background-color: #f9f9f9;
  text-align: center;
 }

video {
  margin-top: 55px;
  margin-right: 30px;
  box-shadow: 5px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.first-instruction-card {
  margin-top: 120px;
  p {
    font-size: 15px;
  }
}

.instruction-card{
  margin-left: 80px;
  h3 {
    font-size: 17px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }
}

.instruction-card3 {
  margin-top: 130px;
}

.instruction-card2{
  margin-right: 80px;
  h3 {
    font-size: 17px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }
}

.calendar-text {
  margin-top: .3em;
  color: $frida-white;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.5em;
    vertical-align: middle;
    color: $frida-red;
}

.fa-3x {
    font-size: 1em;
}

.video-message {
  margin-top: 55px;
  margin-right: 80px;
  font-size: 15px;
}

.wrapper-white {
  background-color: white;
}

