<div class="row">
  <div class="flexbox-cards">
    <div class="card-home">
    <p class="card-1">"Het maken van kunst werkt ontspannend, ook als je er helemaal niets van bakt"
    <br>
    <%= link_to "(Vice, 2016)", "https://creators.vice.com/nl/article/53kaga/onderzoek-het-maken-van-kunst-werkt-ontspannend-ook-als-je-er-niets-van-bakt", class: "link-vice", target: "_blank" %>
    </p>
  </div>
    <div class="card-home">
    <p class="card-2">
    <i class="fa fa-paint-brush" aria-hidden="true"></i>
    </p>
  </div>
    <div class="card-home">
    <p class="card-3">Art is anything you can get away with</p>
    </div>
  </div>
<div class="row">
  <div class="flexbox-row-2">
    <div class="card-home">
    <p class="card-4">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    </p>
    </div>
      <div class="card-home">
      <p class= "frida-selfie"><%= image_tag("http://res.cloudinary.com/do6jihcuc/image/upload/v1507125833/frida_selfie_zhgqcc.png") %></p>
      </div>
      <div class="card-home">
        <p class="card-7">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="flexbox-row-3">
    <div class="card-home">
    <p class="card-6">BE LIKE</p>
    </div>
      <div class="card-home">
      <p class="card-8"></p>
       <i class="fa fa-camera-retro" aria-hidden="true"></i>
       </p>
      </div>
      <div class="card-9">
      <%= image_tag "logo.png" %>
    </div>
  </div>
</div>

