<div class="banner-home" >
  <div class="banner-content">
    <h1>the online art school</h1>
  </div>
</div>


<%= content_for(:navbar, "navbar-home") %>
<%= content_for(:logo, "logo copy white.png") %>
