.btn-frida {
  padding: 15px 55px;
  font-size: 15px;
  border-radius: 0px;
  color: $frida-white;
  background-color: $frida-red;

  &:hover {
    background-color: $frida-grey;
    color: $frida-white;
  }
}

.btn-blue {
  padding: 15px 55px;
  font-size: 15px;
  border-radius: 0px;
  color: $frida-white;
  background-color: #568EA3;

  &:hover {
    background-color: $frida-grey;
    color: $frida-white;
  }
}

.btn-frida-form {
  padding: 15px;
  width: 100%;
  font-size: 15px;
  border-radius: 0px;
  color: $frida-white;
  background-color: $frida-red;
  font-weight:  lighter;
  font-family: "Helvetica";

  &:hover {
    background-color: $frida-grey;
    color: $frida-white;
  }
}

.upload_video_button {
  font-size: 13px;
  font-weight: 500;
  border-radius: 1px;
  color: white;
  background-color: #0f418c;
  padding: 20px 32px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 0px;
    &:hover {
      color: $frida-white;
    }
}

.search-button {
  background-color: $frida-red;
  color: $frida-white;
  padding: 2px 15px;
  margin-left: 5px;

  &:hover {
    background-color: $frida-grey;
    color: $frida-white;
  }
}

.form-actions-btn {
  padding-bottom: 20px;

  .sign-up-btn {
  padding: 15px 153px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 0px;
  color: $frida-white;
  background-color: $frida-red;

    &:hover {
      background-color: $frida-grey;
      color: $frida-white;
    }
  }
}

.login-btn {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 0px;
  color: $frida-white;
  font-weight: lighter;
  background-color: $frida-red;

  &:hover {
      background-color: $frida-grey;
      color: $frida-white;
  }
}

.lecture-button {
  padding: 7px 75px;
  margin-left: 0px;
}

.button-button-text {
  margin: 0;
}

