<p>Hoi <%= @user.first_name %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We willen je laten weten dat je email wordt veranderd naar: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We willen je laten weten dat je email is veranderd naar: <%= @resource.email %>.</p>
<% end %>

<p>Bedankt!
<br>
Het Frida Team</p>
