<p>Hoi <%= @resource.first_name %>!</p>

<p>We hebben een verzoek ontvangen om je wachtwoord te veranderen. Je kunt dit doen via deze link:</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als je dit verzoek niet hebt gedaan, moet je dit bericht negeren.</p>

<p>Je wachtwoord wordt niet veranderd totdat je een nieuw wachtwoord hebt gemaakt.</p>

<p>Bedankt!
<br>
Het Frida Team</p>
